@using ServicePro.BAL;
@using ServicePro
@model TypeMaster
@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/Master/TypeMaster.js"></script>

<!-- jQuery 2.2.3 -->
<input type="hidden" id="hdTypeMasterId" value="@Model.TypeMaster_ID" />
<input type="hidden" id="hdIsActive" value="@Model.IsActive" />
<input type="hidden" id="hdCompanyId" value="@Global.CompanyId" />

<div class="container-fluid">
    <div class="col-md-offset-2 col-md-8 col-sm-12" style="padding-top:80px;">
        <div class="row form-group">
            <div class="col-sm-3">
                <label class="control-label">
                    TypeMaster Name
                </label>
            </div>
            <div class="col-sm-8">
                <input type="text" value="@Model.TypeMasterName" class="form-control" id="TypeMasterName" tabindex="1">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label class="control-label">
                    Short Name
                </label>
            </div>
            <div class="col-sm-8">
                <input type="text" value="@Model.ShortName" class="form-control" id="ShortName" tabindex="2">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label class="control-label">
                    Description
                </label>
            </div>
            <div class="col-sm-8">
                <textarea class="form-control" id="Description" tabindex="3">@Model.Description</textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label class="control-label">
                    Active
                </label>
            </div>
            <div class="col-sm-8">
                <input type="checkbox" class="checkbox" id="IsActive" tabindex="4" />
            </div>
        </div>
    </div>
</div>



<!-- TypeDeatil Grid Starts here -->
<div class="container-fluid fill" id="TypeDetailGridHide" style="display:none;">
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" id="searchTypeDetail" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button type="button" id="btnSearchTypeDetail" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
        <div class="col-md-9">
            <button type="button" id="btnAddTypeDetail" class="btn btn-default pull-right">Add TypeDetail</button>
        </div>
    </div>
    <br/>
    <table id="TypeDetailGrid" data-source="@Url.Action("GetTypeDetailMaster")"></table>
</div>

<!-- Modal -->
<div class="modal fade" id="typeDetailModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">TypeDetail</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="TypeDetail_ID" />
                    <div class="row form-group container-fluid">
                        <div class="col-sm-3">
                            <label class="control-label">
                                Type Name
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="TypeDetail_Name" placeholder="Type Name" tabindex="10">
                        </div>
                    </div>
                    <div class="row form-group container-fluid">
                        <div class="col-sm-3">
                            <label class="control-label">
                                Description
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="TypeDetail_Description" placeholder="Description" tabindex="11"></textarea>
                        </div>
                    </div>
                    <div class="row form-group container-fluid">
                        <div class="col-sm-3">
                            <label class="control-label">
                                Active
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <input type="checkbox" class="checkbox" id="TypeDetail_Active" tabindex="12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="14">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" tabindex="13">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- End Here  -->


<!-- TypeMaster Grid Starts here -->
<div class="container-fluid fill" id="TypeMasterGridList" style="display:none;">
    <br />
    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <div class="input-group">
                <input type="text" id="searchTypeMaster" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button type="button" id="btnSearchTypeMaster" class="btn btn-default">Search</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table id="TypeMasterGrid" data-source="@Url.Action("GetTypeMaster")"></table>
</div>